#chat-screen {
  /* background-color: #abc1d1; */
  background: linear-gradient(
    to bottom,
    rgb(199, 235, 241) 30%,
    rgb(253, 215, 250)
  );
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 180vh;
}

#chat-screen .alt-header {
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 10px;
  z-index: 1;
  color: rgb(17, 17, 16, 0.7);
}

@keyframes fadeIn {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chat {
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp {
  animation: fadeIn 0.4s linear;
}

.message-row__content {
  opacity: 0;
  animation: fadeIn 0.4s linear forwards;
  animation-delay: 1s;
  display: flex;
}

#chat-screen .status-bar,
#chat-screen .alt-header {
  background-color: rgb(199, 235, 241);
}
#chat-screen .status-bar {
  z-index: 2;
}

.chat__timestamp {
  color: white;
  background-color: #87b9df;
  padding: 15px 15px;
  border-radius: 25px;
  font-size: 14px;
  margin-bottom: 25px;
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  color: rgb(17, 17, 16, 0.7);
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  display: flex;
}
.message__author {
  margin-bottom: 5px;
  display: flex;
}

.message__bubble {
  background-color: white;
  padding: 13px;
  border-radius: 15px;
  border-top-left-radius: 0%;
  margin-right: 5px;
  font-size: 18px;
}

.message__info {
  /* display: flex;
  align-items: flex-end; */
  position: relative;
  top: 40px;
  left: -15px;
}
.message__time,
.message__author {
  opacity: 0.8;
  font-size: 15px;
}

.own {
  justify-content: flex-end;
}

.own .message__bubble {
  background-color: var(--yellow);
  border-top-left-radius: 15px;
  border-top-right-radius: 0%;
  margin-right: 0px;
  margin-left: 5px;
}

.own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply i {
  opacity: 0.5;
}

.reply input {
  padding: 12px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -3px;
  top: 5px;
}
.reply__column:last-child > i {
  right: 40px;
  top: 10px;
}

.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button i {
  opacity: 1;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply .reply__column:first-child,
.reply .fa-file,
.reply button {
  transition: opacity 0.3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-file,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 90vw;
  transform: translateX(-5%) translateY(-80px);
}
.reply:focus-within {
  transform: translateY(80px);
}

@-webkit-keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}
@keyframes rotate-vert-center {
  0% {
    -webkit-transform: rotateY(0);
    transform: rotateY(0);
  }
  100% {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}

.message-row img {
  opacity: 0;
  animation: fadeIn 0.4s linear forwards;
  animation-delay: 2s;
}

.message-row img {
  opacity: 1;
  -webkit-animation: rotate-vert-center 0.5s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: rotate-vert-center 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
  animation-delay: 2s;
}

.own {
  opacity: 0;
  animation: fadeIn 0.4s linear forwards;
  animation-delay: 3s;
}
