.welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}

#login-form,
.signup {
  display: flex;
  flex-direction: column;
  margin: 0px 0px;
  width: 370px;
  justify-content: center;
}

#login-form input,
.signup {
  background-color: transparent;
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 25px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
  caret-color: var(--background);
  color: var(--white);
}

#login-form input::placeholder {
  color: var(--white);
}

#login-form input:focus {
  border-color: var(--pink);
}

#login-form input[type="submit"],
.signup {
  cursor: pointer;
  padding: 15px 0px;
  border-radius: 5px;
  width: 130px;
  border: 2px solid var(--pink);
  text-align: center;
  color: var(--white);
}

#login-form input[type="submit"]:hover,
.signup:hover {
  background-color: #666565;
  transition: background-color 0.3s ease-in-out;
}

#login-form a {
  text-align: center;
  text-decoration: none;
  color: inherit;
  font-size: 17px;
}

.loginwindow {
  width: 500px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
}

.indexbody {
  background: #353535;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-wrap: wrap;
}

.submitbutton {
  display: flex;
  justify-content: space-evenly;
}
