.signup-form-btn {
  outline: none !important;
  border: none;
  background: transparent;
}

.signup-form-btn:hover {
  cursor: pointer;
}

.txt2 a,
.txt2 a:hover {
  text-decoration: none;
}

.signup-form input,
.signup-form textarea {
  outline: none;
  border: none;
  caret-color: var(--background);
}

.container-signup {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap-signup {
  width: 520px;
  min-height: 100vh;
  background: var(--background);
  border-radius: 2px;
  position: relative;
  padding: 72px 50px 0px 50px;
}

.signup-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.signup-form-title {
  display: block;
  width: 100%;
  font-size: 39px;
  font-weight: 600;
  color: var(--white);
  line-height: 1.2;

  padding-bottom: 59px;
}

.wrap-input {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #dbdbdb;
  margin-bottom: 45px;
}

.lable-input {
  font-size: 18px;
  font-weight: 400;
  color: var(--white);
  line-height: 1.2;
  padding-left: 2px;
}

.signupinput {
  display: block;
  width: 100%;
  height: 50px;
  background: transparent;
  font-size: 22px;
  color: var(--white);
  line-height: 1.2;
  padding: 0 2px;
}

.focus-input {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0px;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: var(--pink);
}

.signupinput:focus + .focus-input::before {
  width: 100%;
}

.container-signup-form-btn {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.wrap-signup-form-bnt {
  display: block;
  position: relative;
  padding-bottom: 10px;
}
.signup-form-btn {
  width: 245px;
  height: 50px;
  padding: 10px 30px;
  background: var(--pink);
  border-radius: 25px;
  font-size: 16px;
  color: #fff;
}

.container-terms {
  width: 100%;
  display: flex;
  align-items: center;
  padding-bottom: 35px;
}

.input-checkbox {
  display: none;
}

.label-checkbox {
  margin: 0;
  display: block;
  position: relative;
  padding-left: 26px;
  cursor: pointer;
}

.label-checkbox::before {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 13px;
  color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0px;
  top: 50%;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: #e6e6e6;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}

.input-checkbox:checked + .label-checkbox::before {
  color: var(--pink);
}

.txt1,
.txt2 {
  font-size: 15px;
  color: #999;
  line-height: 1.4;
}

.txt2 {
  color: #666;
}

.hov1:hover {
  color: #c87ef0;
}
